################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/csharp/.vs/Rental
/csharp/Rental/obj
/csharp/Rental.Tests
/Java/target
/csharp/Rental/bin/Debug/net6.0
